<router-outlet>

  <pre>{{registerForm.value | json}}</pre>
  <h2>Template Driven form Contact Form</h2>
  <h1>{{name}}</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="mb-4">
      <label for="name" class="from-label">Name</label>
      <input type="text" id="name" class="form-control" name="name" required formControlName="name">
      <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['required']"
        class="alert alert-danger">This field is required.</div>
      <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['minlength']"
        class="alert alert-danger">minLenght > {{ registerForm.get('name')?.errors?.['minlength']?.requiredLength}}.
      </div>
    </div>
    <div class="mb-4">
      <label for="email" class="from-label">Email</label>
      <input type="text" id="email" class="form-control" name="email" required formControlName="email">
      <!-- <div [hidden]="email.valid || email.pristine" class="alert alert-danger">This field is required.</div> -->
    </div>
    <div class="mb-4 form-check">
      <label for="checkAdult" class="from-label">Are you over 18 years</label>
      <input type="checkbox" id="checkAdult" class="form-check-input" name="checkAdult" required
        formControlName="checkAdult">
    </div>
    <div class="mb-4">
      <label for="department" class="from-label">Department</label>
      <select id="department" name="department" class="form-select form-select-sm" required
        formControlName="department">
        <option value="Marketing">Marketing</option>
        <option value="Sales">Sales</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="">
      <button type="submit" class="btn btn-info">Enviar</button>
    </div>
  </form>
</router-outlet>